# Python
__pycache__/

# Data
data.zip
data-sources/
recording/
editted_recording_frames/
original_recording_frames/
recording/
recording_editted/

# Simulator files for p3
windows-sim/

# Model checkpoints